VITE_API_BASE_URL=http://localhost:3001
API_BASE_URL=http://localhost:3001

OPENAI_API_KEY=your_openai_api_key
SUPABASE_URL=https://ivynnjycdyrjbaotjzkx.supabase.co
DATABASE_URL=postgresql://postgres:your_database_password@db.ivynnjycdyrjbaotjzkx.supabase.co:5432/postgres
SPORTMONKS_API_TOKEN=your_sportmonks_token
SPORTMONKS_FIXTURE_ID=your_fixture_id
